name: Node.JS CI/CD

on:
  push:
    branches: [develop]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.JS ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - name: NPM install, build and test
        run: |
          npm install
          npm test
        env:
          TEST_DB: ${{ secrets.TEST_DB }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          JWT_LIFETIME: ${{ secrets.JWT_LIFETIME }}

  deploy:
    name: Deploy
    needs: [test]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Add remote origin to Heroku
        run: git remote add heroku https://heroku:${{ secrets.HEROKU_API_KEY }}@git.heroku.com/${{ secrets.HEROKU_APP_NAME }}.git

      - name: Deploy code to heroku
        run: git push --force heroku master
